@import url('https://fonts.googleapis.com/css2?family=TT+Commons+Pro:wght@100&display=swap');


body{
  padding: 0;
  margin: 0;
  background-color: black;
  position: relative;
  font-family: 'TT Commons Pro', sans-serif;
}

#pagina-principal{
  background-color: black;
}

/*cabeçalho*/

#cabecalho{
  display: flex;
  align-items: center;
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: center;
  gap: 70px;
  
}
.menu {
  text-decoration: none;
  color: white;
  font-family: 'TT Commons Pro', sans-serif;
  
}
#bem-vindo{
  display: flex;
  justify-content: center;
}

#dropdown{
  
}

#sonder-logo{
  height: 70px;
  width: 70px;
  position: relative;
  right: 200px;
}

#lupa{
  position: relative;
  left: 250px;
  border: none;
  appearance: none;
  background-color: inherit;
  cursor: pointer;
  display: block;
  width: 10px;
}

#lupa-img{
  height: 70px;
  width: 70px;
}

#procurar-div{
  position: absolute;
  top: 100px;
  width: 1470px;
  display: none;
  border: 0;
}

#procurar::placeholder{
  font-family: 'TT Commons Pro', sans-serif;
  color: darkgrey;
  position:absolute;
  top: 20px;
  left: 80px;
  font-size: 20px;
  margin: 0%;
}

#procurar{
  height: 60px;
  width: 1393px;
  font-size: 25px;
  position: absolute;
  padding-left: 80px;
  font-family: 'TT Commons Pro', sans-serif;
  outline: none;
}

#lupa-2{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 97px;
  left: 10px;
  display: none;
}

#logofechar{
  height: 55px;
  width: 70px;
  position: relative;
  bottom: 13px;
  right: 50px;
}

#fechar{
  position: absolute;
  background-color: inherit;
  left: 1400px;
  top: 120px;
  border: none;
  cursor: pointer;
  display: none;
}

#login{
  position: relative;
  left: 200px;
}
#login-img{
  
  height: 33px;
  width: 33px;
}

/*Pagina principal*/

#text-main{
  font-family: 'TT Commons Pro', sans-serif;
  font-size: 70px;
  position: absolute;
  left: 70px;
  top: 200px;
  color: white;
}

#botao-comprar{
  font-family: 'TT Commons Pro', sans-serif;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-size: 30px;
  position: relative;
  left: 70px;
  top: 350px;
}

#foto-lancamento{
  display: flex;
  align-items: center;
}

#frente{
  height: 330px;
  width: 300px;
  background-color: white;
  position: relative;
  left: 750px;
  top: 150px;
  overflow: visible;
  
}

#atras{
  height: 330px;
  width: 300px;
  background-color: white;
  position: relative;
  left: 800px;
  top: 150px;
}

#frente-img{
  height: 330px;
  width: 300px;
  position: relative;
  left: -20;
  top: -20;
}

#costa-img{
  height: 330px;
  width: 300px;
}



