@import url('https://fonts.googleapis.com/css2?family=TT+Commons+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');


body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  min-height: 100vh; 
  overflow-x: hidden;
  

}

#pagina-principal {
  background-color: black;
  min-height: 80vh; 
  padding-bottom: 100px;
}


/*cabeçalho*/

#cabecalho{
  display: flex;
  align-items: center;
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: center;
  gap: 70px;
  
}
.menu {
  text-decoration: none;
  color: white;
  font-family: "Roboto Mono", monospace;
  
  
}
#bem-vindo{
  display: flex;
  justify-content: center;
}



#catalogo{
  cursor: pointer;
}






#sonder-logo{
  height: 70px;
  width: 70px;
  position: relative;
  right: 200px;
}

#lupa{
  position: relative;
  left: 200px;
  border: none;
  appearance: none;
  background-color: inherit;
  cursor: pointer;
  display: block;
  width: 10px;
}

#lupa-img{
  height: 70px;
  width: 70px;
}

#procurar-div{
  position: absolute;
  top: 100px;
  width: 1470px;
  display: none;
  border: 0;
  
}

#procurar::placeholder{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: darkgrey;
  position:absolute;
  top: 20px;
  left: 80px;
  font-size: 20px;
  margin: 0%;
}

#procurar{
  height: 60px;
  width: 1393px;
  font-size: 25px;
  position: absolute;
  padding-left: 80px;
  font-family: 'TT Commons Pro', sans-serif;
  outline: none;
}

#lupa-2{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 97px;
  left: 10px;
  display: none;
}

#logofechar{
  height: 55px;
  width: 70px;
  position: relative;
  bottom: 13px;
  right: 50px;
}

 #fechar{
  position: absolute;
  background-color: inherit;
  left: 1400px;
  top: 120px;
  border: none;
  cursor: pointer;
  display: none;
}

#login{
  position: relative;
  left: 150px;
}
#login-img{
  
  height: 33px;
  width: 33px;
}

/*Pagina principal*/

#text-main{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  position: absolute;
  left: 70px;
  top: 200px;
  color: white;
  font-weight: 100px;
  
}

#botao-comprar{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  font-size: 30px;
  position: relative;
  left: 70px;
  top: 400px;
}

#foto-lancamento{
  display: flex;
  align-items: center;
}



#frente{
  height: 330px;
  width: 300px;
  background-color: white;
  position: relative;
  left: 750px;
  top: 140px;
  overflow: visible;
  
}

#frente-img{
  position: relative;
  bottom: 20px;
  right: 20px;
}

#atras{
  height: 330px;
  width: 300px;
  background-color: white;
  position: relative;
  left: 800px;
  top: 140px;
}

#frente-img{
  height: 330px;
  width: 300px;
  position: relative;
  
  bottom: 20px;
  right: 20px;
}

#costa-img{
  height: 330px;
  width: 300px;
  position: relative;
  bottom: 20px;
  right: 20px;
}

#produto-popular{
  background-color: white;
  height: 600px;
}
#camisa-popular-imagem{
  height: 300px;
  width: 300px;
}

#tamanho-popular-div{
  width: 180px;
  position: relative;
  left: 500px;
  bottom: 200px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  
}

#titulo-tamanho-popular{
  position: relative;
  left: 20px;
  font-family: "Roboto Mono", monospace;
}

#select-tamanho-popular{
  border: none;
  position: relative;
  left: 15px;
  width: 75px;
  font-family: "Roboto Mono", monospace;
  outline: none;
  cursor: pointer;
}

.option-popular{
  right: 30px;
  
}

#comprar-agora-popular{
  position: relative;
  bottom: 100px;
  left: 500px;
  background-color: white;
  font-family: "Roboto Mono", monospace;
  height: 35px;
  cursor: pointer;
  border: 1px solid black;
}

#tamanho-popular-div::after{
background: red;
}

#preco-popular{
  color: darkgrey;
  font-family: "Roboto Mono", monospace;
}

  #descricao-produto-popular{
    font-family: "Roboto Mono", monospace;
  }


  #nome-camisa-popular{
    font-family: "Roboto Mono", monospace;
  }



