@import url('https://fonts.googleapis.com/css2?family=TT+Commons+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    min-height: 100vh; /* Definindo a altura mínima para ocupar toda a tela */
    overflow-x: hidden;
    
    
}

#pagina-principal {
    background-color: black;
    min-height: 80vh; /* Definindo a altura mínima para ocupar toda a tela */
    padding-bottom: 100px; /* Adicionando espaço na parte inferior para evitar que o conteúdo seja cortado */
}


#botao-img{
  width: 75px;
  height: 75px;
  position: absolute;
  left: 90%;
  top: 85%;
  border: 5px solid grey;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  z-index: 1;
}

/* Remova as posições absolutas desnecessárias ou ajuste conforme necessário */

#cabecalho {
    display: flex;
    align-items: center;
    
    height: 90px;
    
    gap: 4.5%;
}

.menu {
  
    text-decoration: none;
    color: white;
    font-family: "Roboto Mono", monospace;
    position: relative;
    
    left: 20%;
}

.menu a {
    align-items: center;
}

.menu:hover{
  border-bottom: 2px solid white;
}

#sonder-logo {
    height: 70px;
    width: 70px;
    position: relative;   
    left: 5.8% 
}

#pesquisar-img {
    position: relative;
    right: 177%;
    
}

#pesquisar-img-div{
  position: absolute;
  left: 1%;
}

#lupa-img {
    height: 70px;
    width: 70px;
    cursor: pointer;
}

#login {
    position: relative;
    left: 30%;
}

#login-img {
    height: 33px;
    width: 33px;
}


/*Pesquisar aba*/

.pesquisar-aba-tudo{
  display: none;
  font-family: "Roboto Mono", monospace;

}

#pesquisar-aba{
  position: absolute;
  top: 15%;
  height: 65px;
  width: 92.8%;
  padding: 0% 0% 0% 7%;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  outline: none;
}



#pesquisar-aba::placeholder{
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  position: relative;
  top: 5%;

}

#lupa-preta{
  height: 80px;
  width: 80px;
  display: block;
  position: absolute;
  top: 14.5%;
  left: 1%;
}

#fechar-aba{
  position:absolute;
  top: 16.5%;
  left: 90.3%;
  cursor: pointer;
  display: none;

  width: 50px;
  height: 50px;
}

#fechar-aba-img{
  height: 50px;
  width: 50px;
  position: relative;
  
}

#fechar-aba-img1{
  width: 30px;
  height: 30px;
  border: 1px solid red;
  position: absolute;
  bottom: 78%;
  left: 95%;
}

/*Pagina principal*/
#text-main {
    font-size: 60px;
    position: absolute;
    left: 5%;
    top: 30%;
    color: white;
    font-family: "Roboto Mono", monospace;
}

#botao-comprar {
  font-family: "Roboto Mono", monospace;
    text-decoration: none;
    color: black;
    border: 5px solid white;
    font-size: 30px;
    position: absolute;
    left: 5%;
    top: 65%;
    background-color: white;
    border-radius: 4px;
}

#foto-lancamento {
    display: flex;
    align-items: center;
}

#frente {
    height: 330px;
    width: 300px;
    background-color: white;
    position: absolute;
    left: 49%;
    top: 36%;
    overflow: visible;
}

#frente-img{
  height: 330px;
  width: 300px;
  position: absolute;
  right: 8%;
  bottom: 8%;
}

#atras {
    height: 330px;
    width: 300px;
    background-color: white;
    position: absolute;
    left: 75%;
    top: 36%;
}

#atras-img{
  height: 330px;
  width: 300px;
  position: absolute;
  right: 8%;
  bottom: 8%;
}

#roupa_popular h3 {
    color: black;
}







#nome-camisa-popular{
  font-family: "Roboto Mono", monospace;
    font-size: 20px;
    position: relative;
    left: 55%;
    top: 20%;
}

#descricao-produto-popular{
  font-family: "Roboto Mono", monospace;
  display: flex;
  position: absolute;
  left: 55%;
  top: 120%;

}

#preco-popular{
  font-family: "Roboto Mono", monospace;
  color: darkgrey;
  position: absolute;
  left: 55%;
  top: 138%;
}

#produto-popular{
    background-color: white;
    height: 80vh;
  }
  #camisa-popular-imagem{
    height: 600px;
    width: 600px;
    position: relative;
    top: 10%;
  }
  
  #tamanho-popular-div{
    width: 220px;
    position: relative;
    left: 55%;
    bottom: 29%;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-family: "Roboto Mono", monospace;
  }
  
  #titulo-tamanho-popular{
    position: relative;
    left: 10%;
    font-family: "Roboto Mono", monospace;
  
  }

  
  
  #select-tamanho-popular{
    border: none;
    position: relative;
    
    left: 20%;
    width: 75px;
    font-family: "Roboto Mono", monospace;
    outline: none;
    cursor: pointer;
  }
  
  .option-popular{
    right: 30px;
    
  }
  
  #comprar-agora-popular{
    position: relative;
    bottom: 30%;
    left: 55%;
    background-color: white;
    font-family: "Roboto Mono", monospace;
    height: 35px;
    cursor: pointer;
    border: 1px solid black;
    width: 175px;
  }

  #camisa-popular-imagem{
    height: 350px;
    width: 350px;
    position: relative;
    left: 30%;
    display: block;
     
  }
 
  

  #camisa-popular-imagem-verde{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    bottom: 35%;
  }

  #camisa-popular-imagem-branca{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    position: relative;
  cursor: pointer;
    bottom: 27%;
  }

  #camisa-popular-imagem-azul{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    bottom: 19%;
  }

  #camisa-popular-branca{
    height: 300px;
    width: 300px;
    position: relative;
    right: 1%;
    display: none;
    cursor: pointer;
  }

  #selecao-camisa-popular{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 26%;
    bottom: 35%;
    
  }

  #carrinho-de-comprar-popular-img{
    height: 32px;
    width: 37px;
    border: 1px solid black;
    position: relative;
    left: 55.33%;
    bottom: 27.7%;
  }

  #botao-camisa1{
    width: 60px;
    border: none;
    background: none;
  }

  #botao-camisa2{
    width: 60px;
    border: none;
    background: none;
  }

  #botao-camisa3{
    width: 60px;
    border: none;
    background: none;
  }

  #botao-camisa4{
    width: 60px;
    border: none;
    background: none;
    border: 1px solid black;
  }

  

/* Barra de pesquisa */
.pesquisar-aba-tudo-fechar{
  display: none;
  
}
  
 #pesquisar-img{
  height: 70px;
  width: 70px;
  cursor: pointer;
  
 }

 #pesquisar-img-div{
  position: relative;
  left: 37%;
  background:none ;
  outline: none;
  border: none;
 }

  #titulo-colecao{
    color: white;
    position: absolute;
    left: 48%;
    top: 180%;
    font-family: "Roboto Mono", monospace;
  }

  #pagina-drop{
    min-height: 100vh;
  }

  

  .drop{
    color: white;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient;
  }

  #div-drop1{
    height: 404px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 17%;
    top: 200%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  
  }

  #div-drop1:hover{
    transform: scale(1.2);
    z-index: 2;
  }

  #drop2-high{
    height: 404px;
    width: 320px;
    position: relative;
    
  }

  .div-drop2{
    height: 404px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 40%;
    top: 200%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .div-drop3{
    height:404px;
    width: 320px;
    background-color: white;
    position: absolute;
    left: 63%;
    top:200%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .div-drop3:hover{
    transform: scale(1.2);
    z-index: 2;
  }


  .div-drop2{
    display: flex;
    flex-direction: column;
    position: absolute;
    
  }

  .div-drop2:hover{
    transform: scale(1.2);
    z-index: 2;
  }

  #descricao-drop1{
    background-color: black;
    height: 200px;
    width: 320px;
    position: absolute;
    top: 51%;
    
    background: rgb(0,0,0);
background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 78%);

    
    
  }

  #drop1{
    position: relative;
    top: 40%;
    left: 5%;
   font-size: 60px;
   color: white;
  }

  #drop1-img{
    height: 404px ;
    width: 320px;
  }

  #descricao-drop2{
    height: 404px;
    width: 320px;
    position: absolute;
    
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 78%);
    z-index: 1;
  }
  #drop2{
    position: relative;
    top: 70%;
    left: 5%;
   font-size: 60px;
   color: white;
  }

  #drop3{
    position: relative;
    top: 70%;
    left: 5%;
   font-size: 60px;
   color: white;
  }

  #descricao-drop3{
    height: 404px;
    width: 320px;
    position: absolute;
    bottom: 1%;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 78%);
    z-index: 1;
  }
  #drop3-high{
    height: 404px;
    width: 320px;
    position: relative;
  }

 #div-acessorio{
  min-height: 90vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  font-family: "Roboto Mono", monospace;
 }

 
 .acessorios-img{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .descricao-acessorio{
  color: darkgray;
  position: relative;
  top: 3%;
  left: 10%;
  font-size: 15px;
 }

 #titulo-acessorios{
  color: black;
  position: absolute;
  top: 280%;
 }

 .preco-acessorio{
  color: gray;
  font-size: 20px;
  position: relative;
  left: 25%;
 }

 #acessorio-ver-tudo{
  width: 180px;
  height: 60px;
  position: absolute;
  top: 350%;
  left: 45%;
  text-decoration: none;
  color: white;
  border: 1px solid black;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 #rodape{
  min-height: 50vh;
  font-family: "Roboto Mono", monospace;

 }

 #redes-sociais{
  font-size: 15px;
  color: white;
  position: absolute;
  left: 9.5%;
  top: 400%;
 }

 #registrar-email{
  position: absolute;
  left: 65%;
  top: 380%;
 }

 #email{
  color: white;

 }

 #e-mail{
  width: 260px;
  height: 40px;
  background: none;
  padding: 0% 0% 0% 7%;
  outline: none;
  font-family: "Roboto Mono", monospace;
  border: none;
  border-bottom: 1px solid white;
  color: white;
 }

 #e-mail::placeholder{
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  position: relative;
  top: 5%;
  
  

}

#enviar{
  height:40px ;
  width: 100px;
  color: black;
  background-color: white;
  position: absolute;
  top: 65%;
  left: 103%;
  font-family: "Roboto Mono", monospace;
  border: none;
}

#sobrenos{
  color: white;
  position: absolute;
  left: 11%;
  top: 370%;
}

#contato{
  position: absolute;
  top: 370%;
  left: 40%;
  color: white;
}

#formasdepagamento{
  color: white;
  position: absolute;
  top: 400%;
  left: 36%;
}

.contato{
  color: darkgray;
  font-size: 12px;
  
  
  text-decoration: none;
  
  left: 30%;
  top: 378%;
 
}

#celular{
  font-size: 11px;
  position: absolute;
  left: 40%;
  top: 381%;
  color: darkgray;
  text-decoration: none;
}

#telefone{
  font-size: 11px;
  position: absolute;
  left: 40.2%;
  top: 383.5%;
  color: darkgray;
  text-decoration: none;
}

#emailsonder{
  position: absolute;
  left: 39%;
  bottom: 50%
}

#texto-sobrenos{
  color: darkgray;
  position: absolute;
  top: 378%;
  left: 7%;
  font-size: 10px;
}

.pagamento{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 407%;
}

#pix{
  position: absolute;
  left: 35%;
  top: 408%;
  height: 40px;
  width: 40px;
}

  #mastercard{
    position: absolute;
  left: 39%;
  top: 408%;
  height: 40px;
  width: 70px;
  }

  #boleto{
    position: absolute;
  left: 45%;
  top: 408%;
  height: 40px;
  width: 70px;
  }

  #facebook{
    position: absolute;
    top: 408%;
    left: 9.5%;
    
    height: 40px;
    width: 40px;
  }

  #instagram{
    position: absolute;
    top: 407%;
    left: 12%;
    
    height: 55px;
    width: 55px;
  }
  #adicionar-carrinho{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 85.5%;
  }

  #adicionar-carrinho-img{
    height: 40px;
    width: 40px;
  }

 

 

 
 html{
  scroll-behavior: smooth;
 }


  
  

 


  
  


  
  
